@tailwind base;
@tailwind components;
@tailwind utilities;

.bn-onboard-custom.bn-onboard-modal {
  z-index: 99;
}

html,
body {
  min-height: 100vh;
}

.notched {
  clip-path: polygon(
    0% 5%,
    5% 0%,
    95% 0%,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0 95%
  );
}

@font-face {
  font-family: "Eurostile";
  src: url("/fonts/EurostileNormal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eurostile Bold";
  src: url("/fonts/EurostileBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eurostile Extended";
  src: url("/fonts/EurostileExtended.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
